{% extends 'header.html' %} 

{% block head %}
<title>Consignment Pricing</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="icon" href="{{url_for('static', filename='images/dollar.png')}}">

{% endblock %}


{% block content %}

<div id="preloader"></div>


        <marquee><h3>Wafer Fault Detection System</h3></marquee>
      </center>
      <center>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Problem Statement</h5>
            <p class="card-text"></p>
            <p class="card-text">The main goal is to predict the consignment pricing based on the available factors in
              the
              dataset.</p>

            <p class="card-text"><strong>Approach</strong>:</p>
            <a class="btn btn-warning" href="/">Documentation</a>
          </div>
        </div>
      </center>
      <br>
      <center>
        <h5>Want To Explore Something New In Machine Learning??</h5>
      </center>
      <center><a class="btn btn-primary btn-lg active" href="/main">Click Here </a></center>
      <br><br><br><br><br>




    </div>
  </div>

</div>
</div>
</div>
</div>
</div>


{% endblock %}
</div>