{% extends 'header.html' %} 

{% block head %}
<title>Wafer Fault Detection</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="icon" href="{{url_for('static', filename='images/dollar.png')}}">

{% endblock %}


{% block content %}

<div id="preloader"></div>


        <marquee><h3>Wafer Fault Detection System</h3></marquee>
      </center>
      <center>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Problem Statement</h5>
            <p class="card-text">Wafer (In electronics), also called a slice or substrate, is a thin slice of semiconductor,
              such as a crystalline silicon (c-Si), used for fabricationof integrated circuits and in photovoltaics,
              to manufacture solar cells.
              
              The inputs of various sensors for different wafers have been provided.
              The goal is to build a machine learning model which predicts whether a wafer needs to be replaced or not
              (i.e whether it is working or not) nased on the inputs from various sensors.
              There are two classes: +1 and -1.
              +1: Means that the wafer is in a working condition and it doesn't need to be replaced.
              -1: Means that the wafer is faulty and it needa to be replaced.</p>
            <p class="card-text"></p>

            <p class="card-text"><strong>Approach</strong>:</p>
            <a class="btn btn-warning" href="/">Documentation</a>
          </div>
        </div>
      </center>
      <br>
      <center>
        <h5>Want To Explore Something New In Machine Learning??</h5>
      </center>
      <center><a class="btn btn-primary btn-lg active" href="/main">Click Here </a></center>
      <br><br><br><br><br>




    </div>
  </div>

</div>
</div>
</div>
</div>
</div>


{% endblock %}
</div>